<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<div class="superNav border-bottom py-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
                <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>isip_a.n.korolkova@mpt.ru</strong></span>
                <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>8-888-888-88-88</strong></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">

            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>FITCLUB</strong></a>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="/sotr">Управление сотрудниками</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/serv">Управление услугами</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/cl">Управление клиентами</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/train">Управление тренировками</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="/export">Экспорт данных</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
<!--
            </ul>
        </div>
    </div>
</nav>


